{% extends 'AppWebBundle::layout.html.twig' %}

{% block body %}
<div class="login widget">
     <table>
          <tr>
               <th>Id</th>
               <th>Titre</th>
               <th>Date</th>
               <th>Actions</th>
          </tr>
          {% for post in posts %}
          <tr>
              <td>{{ post.id }}</td>
              <td>{{ post.title }}</td>
              <td nowrap="nowrap">{{ post.updatedAt|date() }}</td>
              <td nowrap="nowrap">
                   <a href="{{ path('_post_edit', {'post_id': post.id} )}}">Modifier</a>
                   <a href="{{ path('_post_delete', {'post_id': post.id} ) }}">Supprimer</a>
              </td>
          </tr>
          {% endfor %}
     </table>
</div>
{% endblock %}
