{% extends 'AppWebBundle::layout.html.twig' %}

{% block body %}
<div class="login widget">
     <form action="{{ path('_check') }}" method="post">
          <fieldset>
                <legend>Se connecter</legend>

                {{ form_widget(form_signin) }}
                <a href="{{ path('_forgotten_password') }}">Mot de passe oublier</a>
                <input type="submit" value="Se connecter" class="button" />         
          </fieldset>
     </form>

     <form action="{{ path('_signup') }}" method="post">
          </fieldset>
               <legend>S'inscrire</legend>
               {{ form_widget(form_signup) }}
               <input type="submit" value="S'inscrire" class="button" />
          </fieldset>
     </form>
</div>
{% endblock %}
