{% extends 'AppAdminBundle::layout.html.twig' %}

{% block body %}
    <div class="button-new"><a href="{{ path('_admin_team_add') }}" class="button-green">Add</a></div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
	</tr>

	{% for team in teams %}
	<tr> 
            <td>{{ team.id }}</td>
            <td>{{ team.name }}</td>
            <td>
                <a href="{{ path('_admin_team_edit', {'id': team.id}) }}">{{ 'Edit'|trans }}</a>
		<a href="{{ path('_admin_team_delete', {'id': team.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer ce groupe?')">{{ 'Delete'|trans }}</a>
            </td>
	</tr>	
	{% endfor %}
    </table>
    {{ paginator_render(teams)|raw }}
{% endblock %}
