<div class="content">
    {% for post in posts %}
        <article class="widget">
            <header>
                <h1><a href="{{ path('_post', {'post_id': post.id, 'slug': slug(post.title)}) }}">{{ post.title }}</a></h1>
            </header>
            <div>
                {{ post.body | truncate(330) | markdown }}
                    <p class="post-tags">
                     {% for tag in post.tag %}
                            <a href="{{ path('_tag', {'tag_id': tag.id, 'tag': tag.name}) }}">{{ tag.name }}</a>
                     {% endfor %}
                        </p>
                    </div>
                    <footer>
                        <p class="date">Date: {{ post.createdAt|date('d/m/Y') }}</p>
                        <p class="author">Par: {{ post.user.username }}</p>
                        <p class="post-comments">
                     {% set count = count(post.comments) %}
                     {% transchoice count %}
                                [0,1] %count% comment|]1,Inf] %count% comments
                     {% endtranschoice %}	
                            </p>
                            <p class="actions">
                                <a href="{{ path('_post', {'post_id': post.id, 'slug': slug(post.title)}) }}" class="button">More info</a>
                            </p>
                        </footer>
                    </article>
    {% endfor %}
                </div>

{% include 'AppWebBundle:Partials:pagination.html.twig' %}

