{% extends 'AppAdminBundle::layout.html.twig' %}

{% block body %}
    <div class="button-new"><a href="{{ path('_admin_comment_add') }}" class="button-green">Add</a></div>
    <table border="1">
        <tr>
            <th>{{ comments|sortable('Id', 'a.id')|raw }}</th>
            <th>User</th>
            <th>Article</th>
            <th>{{ comments|sortable('Comment', 'a.comment')|raw }}</th>
            <th>{{ comments|sortable('CreatedAt', 'a.createdAt')|raw }}</th>
            <th>Actions</th>
	</tr>

	{% for comment in comments %}
	<tr> 
            <td>{{ comment.id }}</td>
            <td>{{ comment.user.username }}</td>
            <td>{{ comment.post.title }}</td>
            <td>{{ comment.comment }}</td>
            <td>{{ comment.createdAt }}</td>
            <td>
                <a href="{{ path('_admin_comment_edit', {'id': comment.id}) }}">{{ 'Edit'|trans }}</a>
		<a href="{{ path('_admin_comment_delete', {'id': comment.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer ce commentaire?')">{{ 'Delete'|trans }}</a>
            </td>
	</tr>	
	{% endfor %}
    </table>
    {{ comments|paginate }}
{% endblock %}
