{% extends 'AppAdminBundle::layout.html.twig' %}

{% block body %}
    <div class="button-new"><a href="{{ path('_admin_post_add') }}" class="button-green">Add</a></div>
    <table  border="1">
        <tr>
            <th>{{ paginator_sort('Id', 'a.id')|raw }}</th>
            <th>Category{# { paginator_sort('Title', 'a.title')|raw } #}</th>
            <th>{{ paginator_sort('Title', 'a.title')|raw }}</th>
            <th>{{ paginator_sort('CreatedAt', 'a.createdAt')|raw }}</th>          
            <th>{{ paginator_sort('UpdatedAt', 'a.updatedAt')|raw }}</th>            
            <th>Actions</th>
	</tr>

	{% for post in posts %}
	<tr>
            <td>{{ post.id }}</td>
            <td>{{ post.category.name }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.createdAt|date }}</td>
            <td>{{ post.updatedAt|date }}</td>            
            <td>
                <a href="{{ path('_admin_post_show', {'id': post.id}) }}">{{ 'Show'|trans }}</a>
                <a href="{{ path('_admin_post_edit', {'id': post.id}) }}">{{ 'Edit'|trans }}</a>
                <a href="{{ path('_admin_post_delete', {'id': post.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer cet article?')">{{ 'Delete'|trans }}</a>
            </td>
	</tr>	
	{% endfor %}
    </table>	
    {{ paginator_render(posts)|raw }}
{% endblock %}
