{% extends 'AppWebBundle::layout.html.twig' %}

{% block body %}
    {% for category in categories %}
        <a href="{{ path('_category', {'category_id': category.id, 'slug': category.name}) }}">{{ category.name }}</a>
    {% endfor %}

    {% for post in posts %}
    <div class="post-item widget">
        <h3>{{ post.title }}</h3>
        <p>{{ post.body }}</p>
    </div>
    {% endfor %}

    {{ paginator_render(posts)|raw }}
{% endblock %}