{% extends 'AppWebBundle::layout.html.twig' %}

{% block body %}
{# Next & Previous #}
<div class="post-next-previous">
    {% if previous_post %}
    <label class="previous">
        <a href="{{ path('_post', {'post_id': previous_post.id, 'slug': slug(previous_post.title)}) }}">Précédent</a>
    </label>
    {% endif %}

    {% if next_post %}
    <label class="next">
        <a href="{{ path('_post', {'post_id': next_post.id, 'slug': slug(next_post.title)}) }}">Suivant</a>
    </label>
    {% endif %}
</div>
<div class="content">
	<article class="widget">
		<header><h1>{{ post.title }}</h1></header>
		<p>{{ post.body }}</p>
		<p class="date">Le: {{ post.updatedAt|date('d/m/Y') }}
		<p class="author">Par: {{ post.user.username }}</p>		
	</article>
</div>

<div class="comments widget">
	<h3>Commentaires</h3>
        {% for comment in post.comments %}
        <div class="comment-items">
             <p class="comment">{{ comment.comment }}</p>
             <p class="date">Le: {{ comment.updatedAt|date() }}</p>
             <p class="author">Par: {{ comment.user.username }}</p>
        </div>
	{% endfor %}
        
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<form action="#" method="post" {{ form_enctype(form_comment) }}>
		<fieldset>
			<legend>Ajouter un commentaire</legend>
			<div class="input textarea">
				{{ form_widget(form_comment.comment) }}	
			</div>

                        {{ form_rest(form_comment) }}
			<div class="input submit">
				<input type="submit" value="Envoyer" class="button" />
			</div>
		</fieldset>
	</form>
        {% else %}
        <a href="{{ path('_signin') }}" class="button">Se connecter pour ajouter un commentaire</a>
        {% endif %}
</div>
{% endblock %}
