<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8" />
        <title>{{ meta_title }}</title>
        
	<meta name="description" content="{{ meta_description }}" />
	<meta name="keywords" content="{{ meta_keywords }}" />
	<meta name="author" content="LOUARDI Abdeltif" />

	<link rel="stylesheet" href="{{ asset('css/common.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/web.css') }}" />
    </header>

    <body>
        {% block header_menu %}
            {% include 'AppWebBundle:Partials:header-menu.html.twig' %}
        {% endblock%}
        
	<div class="line"></div>

	<div class="content-wrapper">
                {% block navigation %}
                    {% include 'AppWebBundle:Partials:navigation.html.twig' %}
                {% endblock%}
                
                {% block sidebar %}
                    {% include 'AppWebBundle:Partials:sidebar.html.twig' %}                
                {% endblock%}	
                
                {% block body %}
                    {% include 'AppWebBundle:Partials:post.html.twig' %}                
                {% endblock %}
            
                {% block pagination %}
                    {% include 'AppWebBundle:Partials:pagination.html.twig' %}
                {% endblock%}
	</div>

	<div class="line"></div>

        {% block footer %}
            {% include 'AppWebBundle:Partials:footer.html.twig' %}
        {% endblock %}
    </body>
</html>
